.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pydota2.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
pydota2/.idea/.name
pydota2/.idea/encodings.xml
pydota2/.idea/misc.xml
pydota2/.idea/modules.xml
pydota2/.idea/pydota2.iml
pydota2/.idea/scopes/scope_settings.xml
pydota2/.idea/vcs.xml
pydota2/.idea/workspace.xml
